:root {}

@font-face {
    font-family: "ProximaNova";
    src: url("./font/Proxima\ Nova\ Reg.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFFBF7;
    font-family: "ProximaNova", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

#root {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.main {
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

img {
    .no-select {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Standard syntax */
    }
}